ORATS_TOKEN=657b8d28-e6a4-49f4-aa08-fc924ad6a07f
PORT=8000
LOG_LEVEL=INFO

# Benzinga
# BENZINGA_API_KEY=bz.4NWGDFPSE7YD52S7VMUD4OCYLWXAQXA5
# ENABLE_BENZINGA=0
# BENZINGA_PREFER_V21_CALENDAR=0
# BENZINGA_TIMEOUT_S=20
# BENZINGA_CACHE_TTL_S=3600

